* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 3200px;
}

h1 {
    color: red;
}

img {
    max-width: 100%;
}


#menu{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background: #0cba74;
    justify-content: space-around;
    background-attachment: fixed;
}

#menu img {
    flex-wrap: wrap;
    width: 450px;
    margin-top: 10px;
}

#menu ul li{
    font-size: 18px;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 70px;
}

#menu ul li a{
    display: block;
    color: black;
    text-decoration: none;
    transition: all 200ms;
}

#menu ul li a:hover{
    color: white;  
    transform: scale(1.2, 1.2);
}

.imagen img {
    width: 100%;
}

.especialidades p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 60px;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    margin-right: 20px;
    justify-content: space-around;
    
}

.container2 img {
    width: 600px;
    flex-basis: calc(50% - 10px);
}

.contenido{
    margin: 50px;
    font-size: 25px;
    flex-basis: calc(50% - 10px);
}


.titulo {
    font-size: 32px;
    text-align: center;
    margin-top: 80px;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
}
.container{
    text-align: center;
    margin-top: 200px;
    font-size: 35px;
}

.card img {
    width: 100%;
    height: auto;

}

.card {
    position: relative;
    width: 530px;
    height: 540px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 1005;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: #0c6f47;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}


.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.productos {
    font-family: Arial, Helvetica, sans-serif;
}

#projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, 304px);
    grid-gap: 57px;
    align-items: start;
    margin-top: 72px;
    padding-left: 86px;
    margin-bottom: 200px;
}

.project {
    width: 322px;
    height: 298px;
    margin-bottom: 25px;
    margin-right: 20px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.project img{
    width: 100%;
    width: 320px;
    height: 194px;
}

.project-info{
    padding: 10px;
}

.project-info a{
    font-size: 26px;
    color: black;
    transition: all 300ms;
}

.project-info a:hover{
   color: green;
}

.project-info p{
    font-size: 39px;
    color: gray;
    transition: all 300ms;
}

.productos {
    font-size: 25px;
    text-align: center;
    margin-top: 100px;
}

.contacto{
    margin-top: 80px;
    background: #c1c1c1;
    padding: 50px 0;
}

.contacto h3 {
    font-size: 24px;
    font-weight: bolder;
    color: #0cba74;
    margin: 20px 0;
    text-align: center;
}

.contacto .contenedor .formulario{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.formulario .nombre, .email, .tel, .ciudad, .mensaje{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    padding: 15px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: black;
    transition: all 1s ease;
    margin-bottom: 20px;
}

.formulario .nombre, .email, .tel, .ciudad{
    width: 46%;
}

.formulario .mensaje {
    width: 96%;
    resize: none;
    
}

.formulario .nombre:focus,
.formulario .email:focus,
.formulario .tel:focus,
.formulario .ciudad:focus,
.formulario .mensaje:focus{
    border-bottom: 3px solid #0cba74;
}

.formulario .btn {
    margin: auto;
    padding: 15px 25px;
    font-size: 16px;
    font-family: "calibri";
    font-weight: bolder;
    border: none;
    background: none;
    background-color: #0cba74;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.formulario .btn:hover{
    background: #0c6f47;
}

@media screen and (max-width: 700px){
    .formulario .nombre, .email, .tel, .ciudad, .mensaje{
        width: 96%;
    }

    .container1 .card {
        width: 95%;
    }
}

.footer {
    background: #333333;
    font-family: sans-serif;

    .contenedor{
        width: 90%;
        margin: 0 auto;
        padding: 20px 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        flex-wrap: wrap;
        width: 450px;
        margin-top: 10px;
    } 

    .matricula, .informacion{
        color: #cdcdcd;
        font-size: 18px;
    }

    .informacion img {
        width: 250px;
    }

    .matricula:hover,
    .informacion:hover{
        color: white;
    }
}





