* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
}

#menu{
    display: flex;
    height: 100%;
    background: gray;
    justify-content: space-between;
}

#menu img {
    width: 300px;
    height: auto;
}

#menu ul li{
    font-size: 18px;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 70px;
}

#menu ul li a{
    display: block;
    color: black;
    text-decoration: none;
    transition: all 200ms;
}

#menu ul li a:hover{
    color: #37bcf9;
    transform: scale(1.2, 1.2);
}

.bienvenidos {
    width: 100%;
}

.bienvenidos p{
    font-size: 80px;
    text-align: center;
    align-items: center;
}

.bienvenidos img {
    width: 100vw;
    height: auto;
}

.especialidades p{
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
}

.container2 {
    display: flex;
}

.container1 {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}
.container{
    text-align: center;
    margin-top: 200px;
    font-size: 35px;
}

.card img {
    width: 100%;
    height: auto;

}

.card {
    position: relative;
    width: 530px;
    height: 540px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 1005;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}


.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.licencias {
    display: flex;
    text-align: center;
}

.licencias p {
    font-size: 35px;
    margin-top: 195px;
}

.card2 {
    width: 449px;
    height: 500px;
    margin: 50px;
    margin-top: 350px;
    box-shadow: 5px 5px 20px #000;
    overflow: hidden;
    justify-content: space-around;
}

.card2 img {
    width: 350px;
    height: 365px;
    border-radius: 3px;
    margin: 30px;
}

.intro {
    height: 70px;
    width: 449px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: -2492px;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: all 300ms;
}

.card2 h1 {
    margin: 10px;
    font-size: 40px;
}

.card2 p {
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

.card2:hover {
    cursor: pointer;
    transition: all 300ms;
}

.card2:hover .intro {
    height: 220px;
    bottom: -2492px;
    background: rgb(27, 27, 27, .5);
}

.card2:hover p {
    opacity: 1;
    visibility: visible;
}

.card2:hover img {
    transform: scale(1.1) rotate(-3deg);
}

.card3 {
    width: 449px;
    height: 500px;
    margin: 50px;
    margin-top: 80px;
    box-shadow: 5px 5px 20px #000;
    overflow: hidden;
    justify-content: space-around;
}

.card3 img {
    width: 350px;
    height: 365px;
    border-radius: 3px;
    margin: 30px;
}

.intro2 {
    height: 70px;
    width: 449px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: -2492px;
    background: rgb(27, 27, 27, .5);
    color: white;
    transition: all 300ms;
}

.card3 h1 {
    margin: 10px;
    font-size: 40px;
}

.card3 p {
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

.card3:hover {
    cursor: pointer;
    transition: all 300ms;
}

.card3:hover .intro2 {
    height: 220px;
    bottom: -2492px;
    background: rgb(27, 27, 27, .5);
}

.card3:hover p {
    opacity: 1;
    visibility: visible;
}

.card3:hover img {
    transform: scale(1.1) rotate(-3deg);
}